@media screen and (max-width: 1200px) {
    .colorplane-container {
        display: block;
        justify-content: center;
    }

    .button {
        color: white;
        background-color: blueviolet;
        display: inline-block;
        font-size: 18px;
        margin-top: 10px;
        border-radius: 5px;
        padding: 8px;
        -moz-user-select: none;
        user-select: none;
        transition: all 0.15s ease-in;
      }
    
      .button:hover {
        cursor: pointer;
        background-color: darkmagenta;
      }

    .cell {
        min-width: calc(3vw - 1px);
        min-height: calc(3vw - 1px);
        border: 0.5px solid white;
    }

    .matrix-row-container {
        display: flex;
        flex-wrap: nowrap;
    }

    .colorplane-container-inner {
        margin: 3px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .canvas {
        box-shadow: 2px 2px 5px 2px #aaaaaa;
    }
}